@charset "utf-8";
/* swiper.css でも swiper.min.css でもまぁどっちでも良い */
@import "swiper.css";

.swiper-button-next,
.swiper-button-prev {
width:14px;
height:22px;
margin-top:-11px;
background-size:14px 22px;
}
.swiper-button-next {
	right:20px;
}
.swiper-button-prev {
	left:20px;
}

.swiper-slide .customize-partial-edit-shortcut {
	left:50%;
	top:10px;
}
